SongFormer/src/SongFormer/ckpts/SongFormer.safetensors filter=lfs diff=lfs merge=lfs -text
SongFormer/src/SongFormer/ckpts/MusicFM/pretrained_msd.pt filter=lfs diff=lfs merge=lfs -text
SongFormer/src/SongFormer/ckpts/MuQ/model.safetensors filter=lfs diff=lfs merge=lfs -text
