.venv/
.git/
__pycache__/
*.py[cod]
.DS_Store
.pytest_cache/
.mypy_cache/
.ruff_cache/
src/data_pipeline/
src/third_party/MuQ/src/recipes/
src/third_party/MuQ/muq/
src/third_party/MuQ/muq_mulan/
src/third_party/musicfm/data/
src/SongFormer/ckpts/md5sum.txt
.python-version
README.md